<!DOCTYPE html>
 <!-- GNB(Global Navigation Bar) 부분 -->
   <nav class="navbar navbar-expand-md navbar-dark bg-dark">
     <a class="navbar-brand" href="/">시원쇼핑몰</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">메인화면관리<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminprod/list">상품등록관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">구매자관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">사용후기관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">매출관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">마켓팅관리</a>
          </li>
      </li>
    </ul>
   </div>
 </nav>
