<!DOCTYPE html>
 <!--  Content (배너이미지) 부분 -->
  <div> <img src="/images/banner1.png" class="img-fluid" alt="배너이미지" width="100%"> </div>

  <!-- 컨텐츠(예, 쇼핑몰일경우 판매제품리스트)헤더부분 -->
   <div class="container-fluid" style="border: solid 20px white; border-radius: 1px">
     <div class="panel panel-default">
   	  <div class="panel-heading">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">쇼핑몰</a></li>
            <li class="breadcrumb-item">선풍기</a></li>
            <li class="breadcrumb-item active" aria-current="page">이벤트몰</li>
          </ol>
        </nav>
   	  </div>
   	  <div class="panel-body">
         <div class="row align-items-center">
           <div class="col-2"><img src="/images/product/1.jpg" class="align-self-start mr-3" alt="선풍기1" width=200px></div>
           <div class="col-4">         <h5 class="mt-0">초절전 선풍기</h5>
                    <p>선풍기라 함은 ... 매우 시원합니다. 30일동안 24시간을 사용해도 1개월 전기료가 10원이 나옵니다.</p>
                    <p>이벤트가  9,900</p>
                    <button type="button" class="btn btn-primary">구매하기</button>  </div>
           <div class="col-2"> <img src="/images/product/2.jpg" class="align-self-start mr-3" alt="선풍기2" width=200px>  </div>
           <div class="col-4">  <h5 class="mt-0">션션 선풍기</h5>
            <p class=xs>이 선풍기는 1분만 틀어도 감기걸릴 정도로 ... 매우 시원합니다. 전기료도 매우 저렴합니다.</p>
            <p>이벤트가 10,900</p>
            <button type="button" class="btn btn-primary">구매하기</button>  </div>
         </div>
   	  </div>
   	</div>
  </div>

  <p> <p> <p> <p>
  <nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
      <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
