<!doctype html>
  <!--  Footer -->
  <p>
  <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3"> <small>© 2019 Copyright:  이 사이트는 현재 수업용으로 제작중입니다.
          <a href="#"> 가천대학교 컴퓨터공학과 이병문 </a> </small>
      </div>
  </footer>

  </body>
</html>
