<div class="container">
    <h1 class="text-primary">Welcome!</h1>
    <div class="card bg-warning" style="width:450px">
        <div class="card-body">
            <h2 class="card-title text-white mb-5">{{email}}</h2><!-- email 데이터 바인딩되는 곳 --> 
            <h4 class="card-text mb-5">{{email}}님 환영합니다.</h4><!-- email 데이터 바인딩되는 곳 --> 
            <a href="/logout" class="btn btn-primary">로그아웃</a>
        </div>
    </div>
</div>
