{% extends "base.html" %}
{% block title %}course_change_list.html{% endblock %}
{% block content %}
    <h1>Course Change - {{user}}</h1>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr class="table-success">
                <th>Title</th>
                <th>Professor</th>
                <th>Owner</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.professor }}</td>
                <td>{{ item.owner }}</td>
                <td><a href="{% url 'sugang:course_update' item.id %}">Update</a></td>
                <td><a href="{% url 'sugang:course_delete' item.id %}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}