h1, h2 { font-family: "∆Ê»Í∏≤"; font-size: 25pt; }
p strong { font-family: "»ﬁ∏’±Ω¿∫∆‘√º";
font-size: 15pt;
font-style: italic; }
ul ul li { font-family: "»ﬁ∏’∏≈¡˜√º";
font-size: 18pt;
font-weight: bold; }
