{% extends "base.html" %}
{% block title %}namecard_tbl_change_list.html{% endblock %}

{% block content %}
    <h1>Namecard Change - {{ user }}</h1>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr class="table-primary">
                <th>Name</th>
                <th>Tel</th>
                <th>Company</th>
                <th>Email</th>
                <th>Group</th>
                <th>Birth_dt</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            {% for item in object_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.tel }}</td>
                    <td>{{ item.company }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.group }}</td>
                    <td>{{ item.birth_dt }}</td>
                    <td><a href="{% url 'namecard:update' item.id %}">Update</a></td>
                    <td><a href="{% url 'namecard:delete' item.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}