@charset "utf-8";
/*  Reset CSS  */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0;}

#display_none div:nth-child(1) {
    width:100px;
    height:100px;
    background-color:#ff0000;
    color:#ffffff;
    font-weight:bold;
    text-align:center;
}

#display_none div:nth-child(2) {
    width:100px;
    height:100px;
    background-color:#00ff00;
    color:#ffffff;
    font-weight:bold;
    text-align:center;
    display:none; /* 보이지 않음 */
}

#display_none div:nth-child(3) {
    width:100px;
    height:100px;
    background-color:#0000ff;
    color:#ffffff;
    font-weight:bold;
    text-align:center;
}

#visibility_hidden div:nth-child(1) {
    width:100px;
    height:100px;
    background-color:#ff0000;
    color:#ffffff;
    font-weight:bold;
    text-align:center;
}

#visibility_hidden div:nth-child(2) {
    width:100px;
    height:100px;
    background-color:#00ff00;
    color:#ffffff;
    font-weight:bold;
    text-align:center;
    visibility:hidden; /* 보이지 않지만 공간은 차지함 */
}

#visibility_hidden div:nth-child(3) {
    width:100px;
    height:100px;
    background-color:#0000ff;
    color:#ffffff;
    font-weight:bold;
    text-align:center;
}

