<!doctype html>
  <!--  Footer -->
    <p>
    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">
        <small>
          © 2019 Copyright: 취업브리지 수업 프로젝트 사이트입니다.
          <a href="https://github.com/youseokhwan"> 가천대학교 컴퓨터공학과 유석환</a>
        </small>
      </div>
    </footer>
  </body>
</html>
