<div class="row">
	<div class="col-md-12">
		<form method="post" action="/store" class="form-horizontal" enctype="multipart/form-data">
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">학생이름</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name" placeholder="홍길동">
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">학번</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="stdId" placeholder="201700001">
				</div>
			</div>


			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">나이</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="age" placeholder="21">
				</div>
			</div>


			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">사진</label>
				<div class="col-sm-10">
				<input type="file" name="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary btn-block btn-submit">등록</button>
				</div>
			</div>
		</form>
	</div>
</div>