<!--들어갈 컨텐츠 내용입니다-->


<table class="table table-bordered">

	<thead>
	<tr>
		<th>이름</th>
		<th>학번</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	{{#each students}} <!-- 는 핸들바의 루프 템플릿으로 students 객체(배열)의 크기만큼 반복 처리됨 --> 
		<tr>
			<td>{{this.name}}</td> <!-- name 속성이 바인딩 되는 부분 -->
			<td>{{this.stdId}}</td> <!-- stdId 속성이 바인딩 되는 부분 -->
			<td style="width:20px;">
				<a class="btn btn-default" href="/show/{{this._id}}">보기</a>
			</td>
		</tr>
	{{/each}}
	</tbody>

</table>
