{% extends "base.html" %}
{% block title %}player_search.html{% endblock %}

{% block content %}
    <h1>Player Search</h1>
    <br>

    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit" class="btn btn-primary btn-sm">
    </form>

    <br/><br/>

    {% if object_list %}
        {% for player in object_list %}
            <h2><a href="{% url 'baseball:player_detail' player.id %}">{{ player.name }}</a></h2>
            <p>포지션: {{ player.position }}</p>
        {% endfor %}
    {% elif search_term %}
        <b><i>Search Word({{ search_term }}) Not Found !</i></b>
    {% endif %}
{% endblock %}