<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>모바일웹 수업</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!--Font-->
	<link href='https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css' rel='stylesheet' type='text/css'>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.2/sweetalert2.min.css' rel='stylesheet' type='text/css'>
	<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

	<!-- Optional theme -->
	<link rel="stylesheet" href="/assets/css/index.css">

</head>
<body>

<nav class="navbar navbar-fixed-top">
	<div class="navbar-deco">
		<span>Mobile Web Class Project</span>
	</div>
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">모바일웹 학생관리</a>
			<a class="navbar-add" href="/create"><i class="fa fa-plus" aria-hidden="true"></i></a>
		</div>
	</div>
</nav>

<div style="margin-top: 100px;" class="container">
{{{body}}}<!-- 핸들바 예약어로 데이터가 바인딩되는 부분 -->
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.2/sweetalert2.all.min.js"></script>
<script src="/assets/js/index.js"></script>
</body>
</html>
<!--'Noto Sans Korean', sans-serif-->