{% extends "base.html" %}
{% block title %}course_detail.html{% endblock %}
{% block content %}
    <div class="mt-5">
        <span class="h2">{{ object.title }}</span>
        <span class="h5 font-italic">&nbsp;&nbsp;&nbsp;{{ object.professor }} 교수님</span>
    </div>

    <hr style="margin: 0 0 20px 0;">

    <div class="row">
        <ul>
            {% for sugang in object.sugang_set.all %}
                <li>
                    <a href="{{ sugang.get_absolute_url }}">{{ sugang.student_id }} / {{ sugang.name }} ({{ sugang.create_dt|date:"Y-m-d" }})</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}