<!DOCTYPE html>
 <!-- GNB(Global Navigation Bar) 부분 -->
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">

     <a class="navbar-brand" href="/">시원쇼핑몰</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">선풍기<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">에어콘</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">냉풍기</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 기타가전 </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">냉장고</a>
            <a class="dropdown-item" href="#">냉동고</a>
             <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">손풍기</a>
            <a class="dropdown-item" href="#">얼풍기</a>
          </div>
      </li>
    </ul>
   </div>
 </nav>
