{% extends "base.html" %}
{% block title %}team_list.html{% endblock %}
{% block extra-style %}
    <style>
        .thumbnail {
            border: 3px solid #ccc;
        }
    </style>
{% endblock %}

{% block content %}
    {% for item in object_list %}
        <div class="mt-5">
            <a class="h2" href="{% url 'baseball:team_detail' item.id %}">{{ item.name }}</a>&emsp;
            <span class="font-italic h5">{{ item.hometown }}</span>
        </div>

        <hr style="margin: 0 0 20px 0;">

        <div class="row">
            {% for player in item.player_set.all|slice:":5" %}
                <div class="ml-5">
                    <div class="thumbnail">
                        <a href="{{ player.get_absolute_url }}">
                            <img src="{{ player.image.thumb_url }}" style="width: 100%;">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}